body {
    background-color: #e5989b;
    margin: 0 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  
}

.app {
    background-color: #fff;
    width: 405px;
    margin: 135px auto;
    border: 5px solid #b5838d;
    border-radius: 10px;
    padding: 10px;
}
.task-input {
    height: 52px;
}
.task-input input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;

}

.controls{
    
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}

.controls, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filters span{
    margin: 0 8px;
    font-size: 17px;
    cursor: pointer;
}

.filters span:hover{
    color: #f5cac3;
}

.controls .clear-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 10px;
    background:#f5cac3; 

}

.task-box{
    margin: 20px 25px;
}

.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task-box label{
    display: flex;
}

.task label input{
    margin-top: 6px;
    margin-right: 12px;
    white-space: nowrap;
}

.settings{
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    position: absolute;
    background: #fff;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    padding: 5px 0;
    border-radius: 5px;
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.settings:hover .task-menu{
    transform: scale(1);
}

.task-menu li{
    height: 25px;
    font-size: 11px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.task-menu li:last-child{
    margin-bottom: 0;
}

.task-menu li:hover{
    background: #f5f5f5;
}

.task-menu li i{
    padding-right: 8px;
}