*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: linear-gradient(120deg, #fc575e, #90d5ec);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: black;
    font-family: Georgia, serif;
}

header, form{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    min-height:20vh;
}

form input, form button{
    padding: 0.5rem;
    border: none;
    font-size: 1rem;  
     
}

.to-do-input{
    padding: 0.5rem;
    font-size: 1rem;
    border:none;
    border-radius: 0%;
    background-color: white;
    

}

.to-do-button{
    padding: 0.5rem;
    font-size: 1rem;
    border:none;
    border-radius: 0%;
    background: white;
    color:#89cff0 ;
    cursor: pointer;
    text-align: center;
    

}

.to-do-button:hover{
    color: white;
    background: #89cff0;
}

.to-do-button:active{
    transform: translateY(2px);
}

.todo-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    list-style: none;
    min-width: 20%;
    
}
.todo{
    margin: 0.5rem;
    font-size: 1rem;
    color:black;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo li{
    flex: 1rem;
    padding: 0.5rem;
}
.complete-btn, .editButton, .trashButton {
    border: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.complete-btn:hover{
    color:white;
    background: #cbc3e3;
   
}
                     
                     
.trashButton:hover{ 
    color: white;
    background:  #89cff0;
}                     

.complete-btn:active{
    transform: translateY(2px);
}

.trashButton:active{
    transform: translateY(2px);
}
.fa-check, .fa-pen-to-square, .fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5rem;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 0.5rem;
    position: relative;
    overflow:hidden;
}
select{
    color:black;
    width: 10rem;
    padding:0.5rem;
    cursor: pointer;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #f7cac9;
    top: 0; 
    right: 0;
    padding: 0.2rem;
    pointer-events: none;
    margin-top: 0.15rem;

}
.select:hover::after{
    background: white;
    color: #f7cac9;
}